<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>982107772340-a9v7ra7jqdaa82e7g4o9eqr3bkbmorg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982107772340-a9v7ra7jqdaa82e7g4o9eqr3bkbmorg2</string>
	<key>API_KEY</key>
	<string>AIzaSyCeqRE6CmqrPxGa3t6JgoeTv9MJ3NB2uvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>982107772340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hsg.HSGHealth</string>
	<key>PROJECT_ID</key>
	<string>iosbackgroundtask</string>
	<key>STORAGE_BUCKET</key>
	<string>iosbackgroundtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982107772340:ios:b1f1a16e9401a3c6</string>
	<key>DATABASE_URL</key>
	<string>https://iosbackgroundtask.firebaseio.com</string>
</dict>
</plist>